/*
 * SPDX-License-Identifier: GPL-2.0-or-later
 * SPDX-FileCopyrightText: 2019-2023 elementary, Inc. (https://elementary.io)
 */

indicator revealer revealer > symbol:dir(ltr) {
    margin-right: 1rem;
}

indicator revealer revealer > symbol:dir(rtl) {
    margin-left: 1rem;
}

device-scale .image-button,
player-row .image-button {
    background: alpha(@text_color, 0.1);
    border: none;
    box-shadow: none;
    min-height: 2.1666rem; /* 26px */
    min-width: 2.1666rem; /* 26px */
}

device-scale .image-button.toggle,
player-row .image-button.toggle {
    border-radius: 1em;
}

device-scale .image-button:checked,
player-row .image-button:checked {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

device-scale .image-button:disabled,
player-row .image-button:disabled {
    background: @insensitive_bg_color;
}
